@mixin box-shadow($string) {
  -webkit-box-shadow:$string;
  -moz-box-shadow:$string;
  -ie-box-shadow:$string;
  box-shadow:$string;
}
@mixin border-radius($border) {
  -webkit-border-radius:$border;
  -moz-border-radius:$border;
  border-radius:$border;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin media-query--phone() {
  @media only screen and (min-width:0px) and (max-width:550px) {
    @content;
  }
}
@mixin media-query-size($min,$max) {
  @media only screen and (min-width:$min) and (max-width:$max) {
    @content;
  }
}
@mixin orangeButton {
  @include border-radius(10px);
  background-color: $brand_orange;
  border: none;
  outline: none;
  margin: auto;
  display: table;
  font-size: 1em;
  color: white;
  text-align:center;
}
@mixin blueButton {
  @include border-radius(10px);
  background:$brand_blue;
  color:white;
  padding:6px 16px;
}